<div style="max-width: 600px; margin: 0 auto;">
    <div id="notifications">
        <div class="title">
            <p class="text-center" style="padding: 10px">
                <img src="assets/img/exclam.png">
            </p>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <td colspan="2">
                        <center><strong>Your transaction is Unsuccessful.
                            Please try again.</strong></center>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><a class="btn btn-default btn-block"
                                       ng-click="vm.cancelThisItemPurchase()">Dismiss</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
