<style>
    .currency {
        font-size: 20px;
        color: #388e3c;
    }
</style>

<div style="max-width: 600px; margin: 0 auto;">
    <div id="notifications">
        <div class="title">
            <p class="text-center" style="padding: 10px">
                <img src="{{vm.image}}">
            </p>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <td colspan="2"><h1>{{vm.name}}</h1></td>
                </tr>
                <tr>
                    <td>Price :</td>
                    <td class="currency">{{vm.price}}</td>
                </tr>
                <tr>
                    <td>Currency :</td>
                    <td><span class="label label-danger">{{vm.currency}}</span></td>
                </tr>
                <tr>
                    <td>Location :</td>
                    <td>{{vm.location}}</td>
                </tr>
                <tr>
                    <td><a class="btn btn-default btn-block"
                           ng-click="vm.cancelThisItemPurchase()">Cancel</a>
                    </td>
                    <td><a class="btn btn-warning btn-block"
                           ng-click="vm.purchaseThisItem(vm.itemTag,vm.id)">Buy Now</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
